/* small screen */

@media only screen and (max-width: 1023px) {
    .grid-container-skills {
        display: grid;
        grid-template-columns: 1fr;
    }
}


/* large screen */

@media only screen and (min-width: 1024px) {
    .grid-container-skills {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.bodytextcontainer h1,
.bodytextcontainer h2,
.bodytextcontainer h3 {
    margin-bottom: 0.5rem;
}

.bodytextcontainer p {
    margin-bottom: 1rem;
}

.bodytextcontainer h1 {
    margin-top: 2rem;
}

.bodytextcontainer h2 {
    margin-top: 3rem;
}

.bodytextcontainer h3 {
    margin-top: 1.6rem;
}

.bodytextcontainer ul {
    padding-left: 2rem;
}

.grid-container-skills ul {
    list-style: none;
    padding-left: 0;
}

.grid-container-skills {
    grid-gap: 4rem;
}

.leaves {
    width: 100%;
}